/*----------------------------Contraintes Generales-----------------------------*/
html {
    background: #e6e9e9;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 2000px;
    min-width: 300px;
    font-size: 14px;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 140%;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1300px;
    padding-bottom: 10%;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    border-left: none;
    border-right: none;
    margin-bottom: 31px;
    margin-top: 36px;
    padding-left: 4%;
    padding-right: 4%;
}

h1 {
    color: black;
    font-weight: 600;
    line-height: 2;
    font-size: 350%;
    border-style: ridge;
    border-color: darkred;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 20px 0 50px 0 darkslategray;
    text-shadow: 5px 5px 5px black;
}

h2 {
    border-style: outset;
    border-width: 3px;
    border-color: rgba(71, 70, 76, 0.38);
    text-align: center;
    background-color: rgb(97, 127, 127);
    box-shadow: 1px 1px 10px 1px black;
    border-radius: 5px;
}

section {
    padding-left: 4%;
    padding-right: 4%;
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s;
    -webkit-animation: fadein 1.5s;
    -o-animation: fadein 1.5s;
    -ms-animation: fadin 1.5s;
}

article {
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    margin-bottom: 4%;
    text-align: justify;
    box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.4);
    border-top: 5px solid rgba(0, 0, 0, 0.1);
    border-left: 5px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
}

a {
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
}

a:link {
    text-decoration: none;
}
/*--------------------------Fin Contraintes Generales---------------------------*/







/*------------------------------Page Contact------------------------------------*/
.formulaire {
    display: flex;
    flex-flow: column wrap;
}

.formulaire p {
    width: 300px;
    clear: left;
    margin: 0;
    padding-left: 155px;
    border-top: 1px dashed gray;
    height: 1%
}

.formulaire label {
    font-weight: bold;
    float: left;
    margin-left: -155px;
    width: 150px;
}

.formulaire input {
    width: 180px;
}

.formulaire textarea {
    width: 250px;
    height: 150px;
}

.articleContact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.sectionContact {
    display: flex;
    flex-flow: column wrap;
}

iframe {/*---Carte google dans "Contact"---*/
    float: left;
}

iframe[name="google_conversion_frame"] {
    display: none;
}
/*------------------------------Fin Page Contact--------------------------------*/







/*----------------------ANIMATIONS FONDU & CLIGNOTEMENTS------------------------*/
@keyframes {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Compatibilite Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Compatibilite Safari et Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Compatibilite Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    /* Compatibilite IE */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes Test {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}
/*-----------------------------FIN DES ANIMATIONS-------------------------------*/







/*---------------------------Nav + Barre de Recherche---------------------------*/
.lienlogo {/*---Lien du logo Develo'Pont en haut a gauche---*/
    height: 50px;
}

.logoDeveloPont {
    height: 2em;
    width: 14em;
    margin: 0.5em 0em 0em -1em;
    position: relative;
    left: 2em;
}

nav {
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    max-width: 1300px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

nav a {
    align-self: center;
    letter-spacing: 1.5px;
    font-size: 17px;
    font-family: "Lato";
}

.menuDeroulant {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 65em;
    margin: 0 0 0 -1px;
    color: white;
}

.menu {
    display: flex;
    list-style-type: none;
    position: relative;
    padding: 0 16px;
    box-shadow: 0 0 1px black;
    background-color: rgba(33, 60, 69, 0.78);
    color: black;
    transition: all 1s;
    color: white;
    border-bottom: 5px solid transparent;
}

.menu:hover {
    border-bottom: 5px solid white;
}

.menu:hover ul {
    position: absolute;
    max-height: 300px;
    z-index: 0;
    top: 50px;
    animation: fadein 0.2s;
    border: 1px solid black;
    border-top: none;
    color: white;
}

.sousmenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-height: 0;
    width: 9em;
    left: -0.05em;
    top: 50px;
    overflow: hidden;
    background-color: rgba(77, 98, 105, 0.89);
    transition: all 0.1s;
    box-shadow: none;
    z-index: -1;
    padding: 0 10px;
    text-align: left;
    border: none;
    color: white;
}

.sousmenu:before {
    position: absolute;
    height: 10px;
    width: 9em;
    left: 0px;
    background-color: #9ec8b6;
    padding: 0 10px;
}

.sousmenu li {
    list-style: none;
    color: white;
}

#sousmenu1 {
    width: 86.5%;
}
#sousmenu2 {
    width: 105%;
}
#sousmenu3 {
    width: 152%;
}

.S_MENU {/*---Options liens des sous-menus---*/
    color: black;
    font-weight: normal;
}

.S_MENU:hover {
    color: white;
}/*---Fin des options des sous-menus---*/

.menubarre {/*---Barre de Recherche---*/
    padding: 0 1em;
    align-self: center;
}

.barreRecherche {
    display: inline-flex;
    vertical-align: middle;
    padding-bottom: 5px;
}

.search {
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
    background-color: #A2A2A2;
    border: 2px solid #4C5F67;
    height: 14px;
    width: 150px;
    padding-left: 5%;
}

.search-btn {
    background-image: url("../img/favicon.png");
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    position: relative;
    background-color: #A2A2A2;
    border: 2px solid #4C5F67;
    height: 20px;
    width: 20px;
}
/*---Fin Barre de Recherche---*/
/*--------------------------Fin Nav + Barre de Recherche------------------------*/







/*---------------------------------Footer---------------------------------------*/
footer {
    display: flex;
    align-self: center;
    height: 60px;
    width: 1196px;
    position: fixed;
    bottom: 0;
    background-color: rgba(33, 60, 69, 0.93);
    text-align: center;
    z-index: 999;
}

#contact {/*---------Contact footer----------*/
    margin: 0.8em 0em 0em 23em;
    display: flex;
}

.copyright {/*-------Barre du footer--------*/
    margin: 0.8em 0em 0em 1em;
    color: white;
    text-shadow: 0px 2px 6px black;
    display: flex;
}
/*---------------------------------Fin Footer-----------------------------------*/







/*---------------------------------Divers---------------------------------------*/
.span-simplon {/*---Chaine de caracteres "SIMPLON.CO"---*/
    color: #ed1450;
    text-shadow: 0px 2px 3px black;
    font-size: 25px;
}

.imageDAB {/*---Image Promo sur la page "C'est Quoi ?"---*/
    max-width: 100%;
    min-width: 300px;
    position: relative;
    width: 60em;
}

#candidature {/*---Chaine de caracteres "Deposez votre candidature"---*/
    animation: Test 1s infinite;
    color: black;
}

span,
.liencandidature {/*---Couleur du lien "Deposez votre candidature"---*/
    color: #ed1450;
}
/*---------------------------------Fin Divers-----------------------------------*/







/*--------------------------Logos des partenaires-------------------------------*/
#leader {
    width: 205px;
    height: 205px;
}

#emploi {
    width: 250px;
    height: 160px;
}

#legrand {
    width: 300px;
    height: 120px;
}

#formation {
    width: 250px;
    height: 160px;
}

#vercors {
    width: 250px;
    height: 100px;
}

#EPN {
    margin: 3em 0em 0em 18em;
}

.logo_part1 {
    margin: 0 0 0 4em;
}

.logo_part2 {
    margin: 4em 0 0 8em;
}
/*-----------------------Fin des logos partenaires------------------------------*/








/*-------------------------Logos des financements-------------------------------*/
#bpifrance {
    width: 250px;
    margin: 0 0 0 0;
}

#france_active {
    margin: 0 0 0 2em;
}

#sncf {
    width: 400px;
    margin: 0 0 0 2em;
}

#UE {
    width: 250px;
}

#fse {
    width: 250px;
    margin-left: 4em;
}

#fse2 {
    width: 250px;
    margin-left: 4em;
}

.logo_financement1 {
    margin: 3em 0 0 2em;
}

.logo_financement2 {
    margin: 3em 0 0 4.5em;
}
/*-----------------------Fin des logos des financements-------------------------*/







/*--------------------------Page Develo'Pont > L'equipe-------------------------*/
h4 {
    text-decoration: underline;
}

.nom_prenom {
    margin-top: -0.5em;
}

.l_equipe {
    margin: -5em 0 0 0;
}

.admin {
    margin: 9em 28em 0 0;
}

.formateurs {
    margin: -64.4em 0 0 35em;
    text-align: right;
    position: relative;
}

.directeur {
    text-align: center;
    margin: 2em 0 -3em 0;
    position: relative;
    bottom: 1em;
}

.mail_equipe {
    text-shadow: 1px 1px rgba(255, 255, 255, 1);
    color: rgba(33, 60, 69, 0.78);
}

.HR_admin {
    margin-right: 2em;
}

#HR_formateur {
    margin-left: 7em;
    display: none;
}

#HR_dir {
    margin-top: 23.5em;
}

#Line {
    width: 35%;
}

#Chloe {
    width: 35%;
}

#Charlene {
    width: 9em;
    height: 12em;
}

#Arnaud {
    width: 9em;
    height: 10.1em;
}

#Jerome {
    width: 47%;
    margin-top: 4.3em;
}
/*---------------------Fin de la page Develo'Pont > L'equipe--------------------*/







/*----------------------------Page "C'est ou ?"---------------------------------*/
.PONTENROYANS {/*---Titre PONT EN ROYANS---*/
    color: black;
    font-size: 200%;
    font-style: italic;
    font-weight: bold;
}


.LIENCESTOU {/*---Lien Pont en Royans, Commune, Auvergne-Rhone-Alpes---*/
    color: black;
    font-size: 100%;
    font-style: italic;
    font-weight: bold;
}

.imagemaisonsuspendu {
    height: 185px;
    width: 260px;
    float: right;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-top: 40px;
    -webkit-transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
    -moz-transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
    -ms-transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
    -o-transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
    transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
}

.imagemaisonsuspendu:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
}

.imagemaisonsuspendu:not(:hover) {
    -webkit-filter: grayscale(1) blur(0.5px);
    -moz-filter: grayscale(1) blur(0.5px);
    -ms-filter: grayscale(1) blur(0.5px);
    -o-filter: grayscale(1) blur(0.5px);
    filter: grayscale(1) blur(0.5px);
}

.imagepont1800 {
    height: 185px;
    width: 260px;
    float: left;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-top: 30px;
    -webkit-transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
    -moz-transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
    -ms-transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
    -o-transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
    transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
}

.imagepont1800:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
}

.imagepont1800:not(:hover) {
    -webkit-filter: grayscale(1) blur(0.5px);
    -moz-filter: grayscale(1) blur(0.5px);
    -ms-filter: grayscale(1) blur(0.5px);
    -o-filter: grayscale(1) blur(0.5px);
    filter: grayscale(1) blur(0.5px);
}

.sitegeologiques,
.histoire,
.pont {
    padding-bottom: 10px;
    margin-bottom: 35px;
}

.clochet {
    height: 185px;
    width: 260px;
    float: left;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-top: 30px;
    -webkit-transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
    -moz-transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
    -ms-transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
    -o-transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
    transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
}

.clochet:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
}

.clochet:not(:hover) {
    -webkit-filter: grayscale(1) blur(0.5px);
    -moz-filter: grayscale(1) blur(0.5px);
    -ms-filter: grayscale(1) blur(0.5px);
    -o-filter: grayscale(1) blur(0.5px);
    filter: grayscale(1) blur(0.5px);
}

.museedeleau {
    height: 185px;
    width: 260px;
    float: right;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-top: 40px;
    -webkit-transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
    -moz-transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
    -ms-transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
    -o-transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
    transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
}

.museedeleau:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
}

.museedeleau:not(:hover) {
    -webkit-filter: grayscale(1) blur(0.5px);
    -moz-filter: grayscale(1) blur(0.5px);
    -ms-filter: grayscale(1) blur(0.5px);
    -o-filter: grayscale(1) blur(0.5px);
    filter: grayscale(1) blur(0.5px);
}

.grotte {
    height: 185px;
    width: 260px;
    float: left;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-top: 30px;
    -webkit-transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
    -moz-transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
    -ms-transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
    -o-transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
    transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
}

.grotte:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
}

.grotte:not(:hover) {
    -webkit-filter: grayscale(1) blur(0.5px);
    -moz-filter: grayscale(1) blur(0.5px);
    -ms-filter: grayscale(1) blur(0.5px);
    -o-filter: grayscale(1) blur(0.5px);
    filter: grayscale(1) blur(0.5px);
}

.monuments {
    padding-bottom: 100px;
}

.gorgebourne {
    height: 185px;
    width: 260px;
    float: right;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-top: 40px;
    -webkit-transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
    -moz-transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
    -ms-transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
    -o-transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
    transition: all .3s cubic-bezier( .4, 2, .3, 0.2);
}

.gorgebourne:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
}

.gorgebourne:not(:hover) {
    -webkit-filter: grayscale(1) blur(0.5px);
    -moz-filter: grayscale(1) blur(0.5px);
    -ms-filter: grayscale(1) blur(0.5px);
    -o-filter: grayscale(1) blur(0.5px);
    filter: grayscale(1) blur(0.5px);
}

article h3 {
    text-align: center;
    font-style: italic;
    font-weight: 900;
    display: inline-table;
}
/*---------------------------Fin Page "C'est ou ?"------------------------------*/







/*------------------------------Page Promo 2017---------------------------------*/
.PROMO {
    margin-left: -3.5em;
    margin-bottom: -15em;  
}

.PROMO li {
    display: inline-table;
    position: relative;
    width: 10em;
    height: 11em;
    padding: 1.5em;
    margin-right: 0em;
    list-style: none;
}

.PROMO li a {
    position: absolute;
    display: inline-block;
    overflow:hidden;
    width: 11em;
    height: 11em;
    margin-top:0em;
    margin-left:0em;
    border:0.3em solid rgba(0,0,0,0.7);
    border-radius: 0.5em;
    transition-property: width, height, margin, z-index, border;
    transition-duration: 0.4s;
    -webkit-transition-property: width, height, margin, z-index, border;
    -webkit-transition-duration: 0.4s;
    -moz-transition-property: width, height, margin, z-index, border;
    -moz-transition-duration: 0.4s;
    -o-transition-property: width, height, margin, z-index, border;
    -o-transition-duration: 0.4s;
}

.PROMO li a:hover {
    position:absolute;
    width: 15em;
    height: 15em;
    margin-top: -2em;
    margin-left: -2em;
    margin-right: 5em;
    border: 6px solid rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.PROMO li a img {
    opacity: 1;
    position:absolute;
    width: 11em;
    height: 11em;
    border-radius: 0.2em;
    transition-property: width, height, z-index;
    transition-duration: 0.4s;
    -webkit-transition-property: width, height, z-index;
    -webkit-transition-duration: 0.4s;
    -moz-transition-property: width, height, z-index;
    -moz-transition-duration: 0.4s;
    -o-transition-property: width, height, z-index;
    -o-transition-duration: 0.4s;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    z-index: 20;
}

.PROMO li a:hover img {
    width: 15em;
    height: 15em;
    z-index: 100;
}

.PROMO li a strong {
    position: absolute;
    text-align: center;
    bottom: -30px;
    opacity: 0;
}

.PROMO li a:hover strong {
    opacity: 1;
    bottom: 0em;
    left:-0.9em;
    transition:bottom 0.4s ease 0.4s;
    -webkit-transition:bottom 0.3s ease 0.4s;
    -moz-transition:bottom 0.3s ease 0.4s;
    -o-transition:bottom 0.3s ease 0.4s;
    width:16.9em;
    height:0.7em;
    padding-bottom:1em;
    background:rgba(0,0,0,0.8);
    margin-top:-30px;
    z-index:150;
}   
/*--------------------------Fin de la page 'Promo 2017'-------------------------*/








/*-----------------------------Barre Reseaux Sociaux----------------------------*/
.reseauxsociaux {
	width: 4.2277%;
    max-width: 75px;
    min-width: 45px;
    height: calc((275*100)/939);
    position: fixed;
    margin-left: -15.7182%;

    background-color: rgba(0, 0, 0, 0.80);
    border-radius: 5px;
    z-index: 10;
    top: 18em;
    flex-flow: row wrap;
    min-width: 75px;
    position: fixed;
    margin: 0 auto;
    left: 15px;
}

.social {
    border-radius: 5px;
    width: 100%;
    height: auto;
    display: block;
}

#twittericon {
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: auto;
    width: 56%;
    height: 12%;
}

#fbicon {
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: auto;
    width: 56%;
    height: 12%;
}

#googleicon {
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: auto;
    width: 56%;
    height: 12%;
}

#inicon {
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: auto;
    width: 56%;
    height: 12%;
}
/*-------------------------Fin Barre Reseaux Sociaux----------------------------*/








/*----------------------------Page "Attente.php"--------------------------------*/
.dd {
    height: 12em;
    width: 12em;
}
/*---------------------------Fin Page "Attente.php"-----------------------------*/








/*----------------------------Page Galerie Photo--------------------------------*/
.galeriePhoto input {
    display: none;
    opacity: 0;
}

.galeriePhoto {
    padding: 2.5rem;
    position: relative;
    margin-left: 88px;
}

.galeriePhoto input[type="checkbox"]+label {
    cursor: pointer;
    width: 180px;
    background: rgba(33, 60, 69, 0.89);
    position: absolute;
    left: 44%;
    bottom: 0;
    text-align: center;
    -webkit-transform: translatex(-50%);
    transform: translatex(-50%);
    display: inline-block;
    line-height: 35px;
    color: rgb(237, 20, 80);
    border-radius: 0.2em;
}

.galeriePhoto input[type="checkbox"]:checked+label:after {
    background: rgba(33, 60, 69, 0.89);
    ;
    width: 180px;
    display: inline-block;
    position: absolute;
    left: 50%;
    -webkit-transform: translatex(-50%);
    transform: translatex(-50%);
    content: 'Stopper diaporama';
    border-radius: 0.2em;
}

.galeriePhoto input[type="checkbox"]:checked~.contenu_galerie .galerie {
    animation: rotation 20s infinite alternate linear;
    -webkit-animation: rotation 20s infinite alternate linear;
}

.contenu_galerie {
    width: 420px;
    height: 279px;
    position: relative;
    margin: 40px auto 40px auto;
    -webkit-perspective: 8000px;
    perspective: 8000px;
}

.galerie {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;
    transition: 1s;
    position: absolute;
    height: 100%;
}

.galerie img {
    filter: drop-shadow(0 12px 5px hsla(0, 0%, 0%, .4));
    position: absolute;
    width: 400px;
    height: 266px;
    top: 0;
    left: 10px;
    display: block;
    outline: 1px solid transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.galerie img:nth-child(1) {
    -webkit-transform: translate3d(0, 0, 495px);
    transform: translate3d(0, 0, 495px)
}

.galerie img:nth-child(2) {
    -webkit-transform: rotateY(45deg) translateZ(495px);
    transform: rotateY(45deg) translateZ(495px)
}

.galerie img:nth-child(3) {
    -webkit-transform: rotateY(90deg) translateZ(495px);
    transform: rotateY(90deg) translateZ(495px)
}

.galerie img:nth-child(4) {
    -webkit-transform: rotateY(135deg) translateZ(495px);
    transform: rotateY(135deg) translateZ(495px)
}

.galerie img:nth-child(5) {
    -webkit-transform: rotateY(180deg) translateZ(495px);
    transform: rotateY(180deg) translateZ(495px)
}

.galerie img:nth-child(6) {
    -webkit-transform: rotateY(225deg) translateZ(495px);
    transform: rotateY(225deg) translateZ(495px)
}

.galerie img:nth-child(7) {
    -webkit-transform: rotateY(270deg) translateZ(495px);
    transform: rotateY(270deg) translateZ(495px)
}

.galerie img:nth-child(8) {
    -webkit-transform: rotateY(315deg) translateZ(495px);
    transform: rotateY(315deg) translateZ(495px)
}

.galerie img:nth-child(9) {
    -webkit-transform: translate3d(0, 0, 495px);
    transform: translate3d(0, 0, 495px)
}

.galerie img:nth-child(10) {
    -webkit-transform: rotateY(45deg) translateZ(495px);
    transform: rotateY(45deg) translateZ(495px)
}

.galerie img:nth-child(11) {
    -webkit-transform: rotateY(90deg) translateZ(495px);
    transform: rotateY(90deg) translateZ(495px)
}

.galerie img:nth-child(12) {
    -webkit-transform: rotateY(135deg) translateZ(495px);
    transform: rotateY(135deg) translateZ(495px)
}

.galerie img:nth-child(13) {
    -webkit-transform: rotateY(180deg) translateZ(495px);
    transform: rotateY(180deg) translateZ(495px)
}

.galerie img:nth-child(14) {
    -webkit-transform: rotateY(225deg) translateZ(495px);
    transform: rotateY(225deg) translateZ(495px)
}

.galerie img:nth-child(15) {
    -webkit-transform: rotateY(270deg) translateZ(495px);
    transform: rotateY(270deg) translateZ(495px)
}

.galerie img:nth-child(16) {
    -webkit-transform: rotateY(315deg) translateZ(495px);
    transform: rotateY(315deg) translateZ(495px)
}

.galerie img:nth-child(17) {
    -webkit-transform: rotateY(225deg) translateZ(495px);
    transform: rotateY(225deg) translateZ(495px)
}

.galerie img:nth-child(18) {
    -webkit-transform: rotateY(270deg) translateZ(495px);
    transform: rotateY(270deg) translateZ(495px)
}

.galerie img:nth-child(19) {
    -webkit-transform: rotateY(315deg) translateZ(495px);
    transform: rotateY(315deg) translateZ(495px)
}

@keyframes rotation {
    from {
        transform: rotatey(0)
    }
    to {
        transform: rotatey(1turn)
    }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotatey(0)
    }
    to {
        -webkit-transform: rotatey(1turn)
    }
}
/*--------------------------Fin Page Galerie Photo------------------------------*/

/*-------------------------Responsive--------------------------------------------*/

@media screen and (max-width: 425px) {
    
    nav {
        display: flex;
        flex-flow: column nowrap; 
    }

    .menuDeroulant {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
    
    .logoDeveloPont {
        left: 0;
    }
    
    /*----Page c'est ou? ---- */
    
    .imagepont1800, .imagemaisonsuspendu, .clochet, .museedeleau, .grotte, .gorgebourne {
        height: 100px;
        width: auto;
    }
    
    .PONTENROYANS {
        font-size: 170%;
    }
    
    /*------L'équipe--------*/
    
    .l_equipe, .admin, .formateurs, #HR_dir, .directeur {
        margin: 0;
    }
    
    /*-------Partenaires, qui finance---------*/
    
    .logo_financement1, .logo_financement2, .logo_part1, .logo_part2, .logo_part3 {
        margin: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
    
    #bpifrance, #france_active, #sncf, #UE, #fse, #fse2, #EPN, #royans, #leader, #vercors, #massif, #emploi, #legrand, #formation  {
        margin: auto;
        width: 300px;
        align-self: center;
    }
    
    /*---------------Contact-----------*/
    
    textarea {
        width: 300px;
    }
    
    iframe {
        width: 300px;
    }
    
    /*----------------PROMO 2017 ---------*/
    
    .PROMO {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin: 0;
    }
    
}

@media screen and (max-width: 830px) {
    
    nav {
        flex-flow: column nowrap;
        position: relative;
    }
    
    body {
        padding-top: 0;
    }
    
    section {
        padding: 0;
    }
    
    /*-----Menu Deroulant--------*/

    .menuDeroulant {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        max-width: 100%;
        margin: 0;
        color: white;
    }

    .menu {
        display: flex;
        list-style-type: none;
        position: relative;
        padding: 0 16px;
        box-shadow: 0 0 1px black;
        background-color: rgba(33, 60, 69, 0.78);
        color: black;
        transition: all 1s;
        color: white;
        border-bottom: 5px solid transparent;
    }

    .sousmenu {
        flex-direction: column;
        position: absolute;
        max-height: 0;
        width: 9em;
        left: 160px;
        top: 50px;
        overflow: hidden;
        background-color: rgba(77, 98, 105, 0.89);
        transition: all 0.1s;
        box-shadow: none;
        padding: 0 10px;
        text-align: left;
        border: none;
        color: white;
    }

    .sousmenu:before {
        position: absolute;
        height: 10px;
        width: 9em;
        left: 0px;
        background-color: #9ec8b6;
        padding: 0 10px;
    }
    
    #sousmenu1 ,#sousmenu2, #sousmenu3 {
        width: auto;
    }

    .sousmenu li {
        list-style: none;
        color: white;
        font-weight: bolder;
    }

    .menu:hover ul {
        position: absolute;
        max-height: 300px;
        z-index: 3;
        top: 50px;
        left: 160px;
        animation: fadein 0.2s;
        border: 1px solid black;
        border-top: none;
        color: white;
    }

    .menu:hover {
        border-bottom: 5px solid white;
    }


    /*--------Fin du menu------*/
     
    .logo img {
        display: none;
    }
    
    section {
        top: 500px;
    }
    
    /* Contact footer */

    #contact {
    margin: 0;
    justify-content: flex-end;
    display: flex;
    }
    
    footer {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    max-width: 1196px;
    position: relative;
    bottom: 0;
    background-color: rgba(33, 60, 69, 0.93);
    z-index: 0;
    font-size: 0.5em;
    }
    
    footer p {
        align-self: center;
    }
    
}

@media screen and (max-width: 1120px) {
    
    .reseauxsociaux {
        display: none;
    }
    
}

@media screen and (max-width: 1300px) {
    
    nav {
        display: flex;
        flex-flow: column nowrap;
    }
    
    .menuDeroulant {
        display: flex;
        order: 1;
        justify-content: center;
        padding-left: 0;
    }
    
    .menu:hover ul {
        top: 30px;
    }
    
    .menubarre {
        display: none;
    }
}

/*-------------------------------Fin Responsive----------------------------*/


/*↑↑SI VOUS DEVEZ AJOUTER DES CHOSES SUR LE CSS CODEZ EN DESSUS DE CETTE LIGNE↑↑*/
/*---------------------------Galerie TEST---------------------------------------*/
/*-----
.galeriePhoto {
    position: relative;
    top: 4em;
    border: 5px solid rgba(33, 60, 69, 0.78);
    border-radius: 5px;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.6 )
}

.slides {
    width: 100%;
    animation: fadein 0.5s;
    -moz-animation: fadein 0.5s;
    -webkit-animation: fadein 0.5s;
    -o-animation: fadein 0.5s;
    -ms-animation: fadein 0.5s;
}

.left_button {
    
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.4);
    border: 4em;
    position: relative;
    top: -27.5em;
    width: 3em;
    height: 9em;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    left: 0.35em;
}

.right_button {
    
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.4);
    border: 4em;
    position: relative;
    top: -27.5em;
    width: 3em;
    height: 9em;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    left: 75.5em;
}

.left_button:hover {
    background-color: rgba(0, 0, 0, 0.6);
    animation-name: left_right;
    animation: fadein 0.3s;
    -moz-animation: fadein 0.3s;
    -webkit-animation: fadein 0.3s;
    -o-animation: fadein 0.3s;
    -ms-animation: fadein 0.3s;
}

.right_button:hover {
    background-color: rgba(0, 0, 0, 0.6);
    animation-name: left_right;
    animation: fadein 0.3s;
    -moz-animation: fadein 0.3s;
    -webkit-animation: fadein 0.3s;
    -o-animation: fadein 0.3s;
    -ms-animation: fadein 0.3s;
}
-----*/
/*------------------------Fin Galerie TEST--------------------------------------*/