html {
    background: #e6e9e9;
    color: black;
    background-image: url("/img/paysage1.jpeg");
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    font-style: italic;
    font-weight: bold;
    max-width: 2000px;
    min-width: 300px;
    font-size:120%;
}



body {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 200px darkred;
    color: #500909;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-size: 150%;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
}



h1 {
    color: chartreuse;
    font-weight: 600;
    line-height: 2;
    font-size: 400%;
    border-style: ridge;
    border-color: darkred;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 50px 0px 100px 0px darkred;
    text-shadow: 5px 5px 5px black;
}


h2 {
    border-style: double;
    border-width: 4px;
    border-color: darkred;
    text-align: center;
    
        
}


a {
    margin: 55px;
    color: black;
    font-style: italic;
    font-weight: bold;
    font-family: monospace;
    
}