html {
    background: #e6e9e9;
    /* color: black; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* font-style: italic; */
    /* font-weight: bold; */
    max-width: 2000px;
    min-width: 300px;
    font-size: 14px;
   
}

body {
    
    /*! background: rgb(227, 240, 229); */
    /*! box-shadow: 0px 10px 20px darkslategray; */
    /*! border-right: 1px solid black; */
    /*! border-left: 1px solid black; */
    /*! color: slategrey; */
    font-family: 'Roboto', sans-serif;
    font-size: 140%;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1300px;
    padding-bottom: 10%;
    padding-top: 1%;
    display: flex;
    flex-direction:column;
   
}


header {
    text-align: center;
    /* border: 1px solid black; */
    border-left: none;
    border-right: none;
    margin-bottom: 31px;
    margin-top: 36px;
    padding-left: 4%;
    padding-right: 4%;
}


a:link {
    text-decoration: none;
}


h1 {
    color: black;
    font-weight: 600;
    line-height: 2;
    font-size: 350%;
    border-style: ridge;
    border-color: darkred;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 20px 0 50px 0 darkslategray;
    text-shadow: 5px 5px 5px black;
}


.logo img
{
        filter: invert(1);
        -webkit-filter: invert(1);
        -moz-filter: invert(1);
        -o-filter: invert(1);
        -ms-filter: invert(1);
        /* margin-left: -53em; */
        /* position: fixed; */
        max-width: 100%;
}
.logo img:hover
{
        filter: invert(0);
        -webkit-filter: invert(0);
        -moz-filter: invert(0);
        -o-filter: invert(0);
        -ms-filter: invert(0);
        animation: fadein 0.7s;
        -moz-animation: fadein 0.7s;
        -webkit-animation: fadein 0.7s;
        -o-animation: fadein 0.7s;
        -ms-animation: fadin 0.7s;
}

h2 {
    border-style: outset;
    border-width: 3px;
    border-color: rgba(71, 70, 76, 0.38);
    text-align: center;
    background-color: rgba(33, 60, 69, 0.74);

}



a {
    color: rgba(255, 255, 255,1);
    /* font-style: italic; */
    font-weight: bold;
    /* font-family: monospace; */
}


/* Contact barre de navigation */
.contact{
    height: 100px;
    width: 250px;
    display:inline-block
}


/* Contact footer */
#contact{
    float: right;
    margin: -0.75em 0.4em 0 0;
}

.formulaire {
    display: flex;
    flex-flow: column wrap;
}

.formulaire p{
    width : 300px;
    clear: left;
    margin: 0;
    padding-left: 155px;
    border-top: 1px dashed gray;
    height: 1%
}

.formulaire label {
    font-weight: bold;
    float: left;
    margin-left: -155px;
    width: 150px;
}

.formulaire input {
    width: 180px;
}

.formulaire textarea{
    width: 250px;
    height: 150px;
}

.navigation {
    display: inline;
    font-size: 24px;
    list-style-type: none;
    border-right: 3px solid black;
    padding-right: 30px;
    border-left: 3px solid black;
    padding-left: 30px;
    background-color: grey;
    margin: -5px;
}


nav {
    background-color: rgb(103, 157, 46);
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    max-width: 1300px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.lienImage {
    height: 50px;
}

.logoDeveloPont {
    height: 50px;
    width: auto;
    margin-left: 6px;
}


section {
    padding-left: 4%;
    padding-right: 4%;
    /* text-align: justify; */
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s;
    -webkit-animation: fadein 1.5s;
    -o-animation: fadein 1.5s;
    -ms-animation: fadin 1.5s;
}

                
                /* ANIMATIONS FONDU & CLIGNOTEMENTS */
@keyframes {
    from {opacity: 0;}
    to   {opacity: 1;}
}
@keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}
@-moz-keyframes fadein { /* CompatibilitÃƒÂ© Firefox */
    from {opacity:0;}
    to {opacity:1;}
}
@-webkit-keyframes fadein { /* CompatibilitÃƒÂ© Safari et Chrome */
    from {opacity:0;}
    to {opacity:1;}
}
@-o-keyframes fadein { /* CompatibilitÃƒÂ© Opera */
    from {opacity:0;}
    to {opacity: 1;}
}
@-ms-keyframes fadein { /* CompatibilitÃƒÂ© IE */
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes Test{    
    0%{opacity: 1;}
    50%{opacity: 0.3;}
    100%{opacity: 1;}
}               
                /* FIN DES ANIMATIONS */


article {
    padding-left: 4%;
    padding-right: 4%;
    text-align: justify;
    box-shadow: 10px 10px 0px rgba(0,0,0,0.4);
    border-top: 5px solid rgba(0,0,0,0.1);
    border-left: 5px solid rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,0.8);
}


footer{
    height: 60px;
    width: 1302px;
    position: fixed;
    bottom: 0;
    background-color: rgba(33, 60, 69, 0.93);
    text-align: center;
    /*border-color: darkslategray;
    border-style: outset;
    border-width: thick;
    text-align: center;
    font-size: 32px;
    margin-top: 140px;
    position: relative;
    bottom: -136px;
    /* left: 0px; */
    /* right: 169px;
    background-color: #9ec8b6;*/
}

/*-----Menu DÃƒÂ©roulant--------*/
.menuDeroulant {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 65em;
    margin: 0 0 0 0;
    color:white;
}

.menu {
    display: flex;
    list-style-type: none;
    position: relative;
    padding: 0 10px;
    box-shadow: 0 0 1px black;
    background-color: rgba(33, 60, 69, 0.8);
    color: black;
    transition: all 1s;
    color:white;
}

nav a {
    align-self: center;
}

.sousmenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-height: 0;
    width: 9em;
    left: 0px;
    top: 50px;
    overflow: hidden;
    background-color: rgba(103, 157, 46, 0.78);
    transition: all 0.1s;
    box-shadow: none;
    z-index: -1;
    padding: 0 10px;
    text-align: left;
    border: none;
    color:white;
}

.sousmenu:before {
    position: absolute;
    height: 10px;
    width: 9em;
    left: 0px;
    background-color: #9ec8b6;
    padding: 0 10px;
    
}

.sousmenu li {
    list-style: none;
    color:white;
}

.menu:hover ul {
    position: absolute;
    max-height: 300px;
    z-index: 0;
    top: 50px;
    animation: fadin 1.5s;
    border: 1px solid black;
    border-top: none;
    color:white;
    /* box-shadow: 1px 2px 2px 1px #9EC8B6; */
}

.menu:hover a {
    color: white;
}

/*--------Fin du menu------*/

.mail {
    width: 80px;
    vertical-align: middle;
}


.simplon {
    width: 200px;
    position: absolute;
    left: 41.5em;
    top: 0.9em;
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s;
    -webkit-animation: fadein 1.5s;
    -o-animation: fadein 1.5s;
    -ms-animation: fadin 1.5s;
}


.span-simplon {
    color: #ed1450;
    text-shadow: 0px 2px 3px black;
    font-size: 25px;
}


.copyright {margin: 0.8em 21em 0 0;color: #fffdfd;margin: 0.8em 32em 0 0;color: white;/* font-style: italic; */text-shadow: 0px 2px 6px black;}


.imageDAB {
    max-width: 100%;
    min-width: 300px;
    position: relative;
    width: 60em;
}

.menubarre {
    padding: 0 1em;
    align-self: center;
}

.menubarre  img {
    width: 20px;
    margin: 0 -0.2em 0 0;
    vertical-align: middle;
}

#candidature {
    animation: Test 1s infinite;
    color: black;
}

span {
    color: #ed1450;
}

                /* Logos des partenaires */
#leader { 
    width: 205px;
    height: 205px;
}


#emploi { 
    width: 250px;
    height: 160px;
}


#legrand { 
    width: 300px;
    height: 120px;
}


#formation { 
    width: 250px;
    height: 160px;
}


#vercors { 
    width: 250px;
    height: 100px;
}


.logo_part1 {
    margin: 0 0 0 4em;
}


.logo_part2 {
     margin: 4em 0 0 8em;
}               /* Fin des logos partenaires */


                /* Logos des financements */
#bpifrance {
     width: 250px;
     margin: 0 0 0 0;
}


#france_active {
     margin: 0 0 0 2em;
}


#sncf {
     width: 400px;
     margin: 0 0 0 2em;
}


#UE {
     width: 250px;  
}


#fse {
     width: 250px;
     margin-left: 4em;
}


#fse2 {
     width: 250px;
     margin-left: 4em;
}


.logo_financement1 {
     margin: 3em 0 0 2em;
}


.logo_financement2 {
     margin: 3em 0 0 4.5em;
}
                /* Fin des logos des financements */


                /*Options des liens des sous-menus du menu "Partenaires" */
#part { 
    color: black;
    font-weight: normal;
}


#part:hover {
    color: white;
}               /* Fin des liens sous-menus */


                /* Page Develo'Pont > L'équipe */
h4 {
    text-decoration: underline;
    
}


#nom_prenom {
    
}


.l_equipe {
    margin: -5em 0 0 0;
    
}


.admin {
    margin: 9em 28em 0 0;
    
}


.formateurs {
    margin: -23.25em 0 0 35em;
    text-align: right;
    position: relative;
}


.directeur {
    text-align: center;
    margin: 2em 0 -3em 0;
    position: relative;
    bottom: 1em;
} 


#mail_equipe {
    text-shadow: 1.1px 1px rgba(0, 0, 0, 1);
    color: rgb(84, 173, 71);
}


#HR_admin {
    margin-right: 2em; 
}


#HR_formateur {
    margin-left: 7em;   
}


#HR_dir {
    margin-top: 8em;
}/* Fin de la page Develo'Pont > L'équipe */


.PONTENROYANS { /* c'est le pont en royans dans la section "c'est ou" */
    color: black;
    font-size: 200%;
    font-style: italic;
    font-weight: bold;
}


.LIENCESTOU { /* tous les liens dans la section c'est ou */
    
    color: black;
    font-size: 100%;
    font-style: italic;
    font-weight: bold;
    }


.imagemaisonsuspendu {
    
    
    height: 185px;
    width: 260px;
    float: right;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-top: 40px;
}


.imagepont1800 {
    
    height: 185px;
    width: 260px;
    float: left;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.sitegeologiques, .histoire, .pont {
    padding-bottom: 10px;
    margin-bottom: 35px;
}


.clochet {
    height: 185px;
    width: 260px;
    float: left;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.museedeleau {
    height: 185px;
    width: 260px;
    float: right;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-top: 40px;
}

.grotte {
    height: 185px;
    width: 260px;
    float: left;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.monuments {
    padding-bottom: 100px;
}

.gorgebourne {
    height: 185px;
    width: 260px;
    float: right;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-top: 40px;
}


article h3 {
    text-align: center;
    font-style: italic;
    font-weight: 900;
    display: inline-table;
}