
html {
    background: #e6e9e9;
    /* color: black; */
    background-image: url(img/paysage1.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* font-style: italic; */
    /* font-weight: bold; */
    max-width: 2000px;
    min-width: 300px;
    font-size: 14px;
}

body {
    background: rgb(227, 240, 229);
    box-shadow: 0px 10px 20px darkslategray;
    border-right: 1px solid black;
    border-left: 1px solid black;
    color: slategrey;
    font-family: 'Roboto', sans-serif;
    font-size: 140%;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1300px;
    padding-bottom: 10%;
    padding-top: 1%;
   
}


header {
    text-align: center;
    background-color: #9ec8b6;
    border: 1px solid black;
    margin-bottom: 31px;
    margin-top: 20px;
    padding-left: 4%;
    padding-right: 4%;
    
}


a:link {
    text-decoration: none;
}


h1 {
    color: black;
    font-weight: 600;
    line-height: 2;
    font-size: 350%;
    border-style: ridge;
    border-color: darkred;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 20px 0 50px 0 darkslategray;
    text-shadow: 5px 5px 5px black;
}


.logo {
    text-align: center;
}


h2 {
    border-style: double;
    border-width: 4px;
    border-color: #9ec8b6;
    text-align: center;
    
        
}



a {
    color: black;
    /* font-style: italic; */
    font-weight: bold;
    /* font-family: monospace; */
}


/* Contact barre de navigation */
.contact{
    height: 100px;
    width: 250px;
    display:inline-block
}


/* Contact footer */
#contact{
    float: right;
    margin: -0.75em 2.4em 0 0;
}


.navigation {
    display: inline;
    font-size: 24px;
    list-style-type: none;
    border-right: 3px solid black;
    padding-right: 30px;
    border-left: 3px solid black;
    padding-left: 30px;
    background-color: grey;
    margin: -5px;
}


nav {
    list-style-type: none;
    text-align: center;
}


section {
    padding-left: 4%;
    padding-right: 4%;
    text-align: justify;
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s;
    -webkit-animation: fadein 1.5s;
    -o-animation: fadein 1.5s;
    -ms-animation: fadin 1.5s;
}

                
                /* ANIMATIONS FONDU & CLIGNOTEMENTS */
@keyframes {
    from {opacity: 0;}
    to   {opacity: 1;}
}
@keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}
@-moz-keyframes fadein { /* Compatibilité Firefox */
    from {opacity:0;}
    to {opacity:1;}
}
@-webkit-keyframes fadein { /* Compatibilité Safari et Chrome */
    from {opacity:0;}
    to {opacity:1;}
}
@-o-keyframes fadein { /* Compatibilité Opera */
    from {opacity:0;}
    to {opacity: 1;}
}
@-ms-keyframes fadein { /* Compatibilité IE */
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes Test{    
    0%{opacity: 1;}
    50%{opacity: 0.3;}
    100%{opacity: 1;}
}               
                /* FIN DES ANIMATIONS */


article {
    padding-left: 4%;
    padding-right: 4%;
    text-align: justify;
}


footer{
    height: 100px;
    width: 1301px;
    position: fixed;
    bottom: 0;
    background-color: #91b589;
    text-align: center;
    /*border-color: darkslategray;
    border-style: outset;
    border-width: thick;
    text-align: center;
    font-size: 32px;
    margin-top: 140px;
    position: relative;
    bottom: -136px;
    /* left: 0px; */
    /* right: 169px;
    background-color: #9ec8b6;*/
}


.hvr-shutter-in-horizontal { /* DEBUT du css pour le menu animé de la barre de navigation */
      display: inline-block;
      vertical-align: middle;
      box-shadow: 0 0 1px transparent;
      position: relative;
      background: #b5c046;
      /*-webkit-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.7s;
      transition-duration: 0.7s; */
      margin-bottom: 30px;
      margin-top: 15px;
      z-index: 0;
}


.hvr-shutter-in-horizontal:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #91b589;
      /*-webkit-transform: scaleX(1);
      transform: scaleX(1);*/
      -webkit-transform-origin: 50%;
      transform-origin: 50%;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
}


.hvr-shutter-in-horizontal:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active 

{
      color: white;
}


.hvr-shutter-in-horizontal:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before 


{     -webkit-transform: scaleX(0);
      transform: scaleX(0);
} /* FIN du css pour le menu animé de la barre de navigation */

ul {
    z-index: 0;
    position: relative;
}

.sousmenu {
    display: none;
    position: absolute;
    top: 36px;
    height: 0;
    left: 0px;
    margin: 0px;
    padding: 0px;
    background: #91b589;
    list-style-type: none;
    transition: all 1s, height 2s;
    border: 3px solid black;
    border-top: none;
    z-index: 0;
    transform: scale(0, 0);    
} /* Sous menu */

ul ul li {
    text-align: left;
    font-size: 0.9em;
    float: left;
    display: block;
}

.hvr-shutter-in-horizontal:hover .sousmenu {
    position: absolute;
    display: block;
    top: 36px;
    height: auto;
    transform: scale(1, 1);
} /* Apparition du sous menu */

.mail {
    width: 80px;
    vertical-align: middle;
}


.simplon {
    width: 200px;
    position: absolute;
    left: 41.5em;
    top: 0.9em;
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s;
    -webkit-animation: fadein 1.5s;
    -o-animation: fadein 1.5s;
    -ms-animation: fadin 1.5s;
}


.span-simplon {
    color: #ed1450;
    text-shadow: 0px 2px 3px black;
    font-size: 25px;
}


.copyright {
    margin: 1.8em 21em 0 0;
    color: rgb(227, 240, 229);
    /* font-style: italic; */
    text-shadow: 0px 2px 6px black;
}


.imageDAB {
    max-width: 100%;
    min-width: 300px;
    position: relative;
    width: 60em;
}


#candidature {
    animation: Test 1s infinite;
}