
html {
    background: #e6e9e9;
    /* color: black; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* font-style: italic; */
    /* font-weight: bold; */
    max-width: 2000px;
    min-width: 300px;
    font-size: 14px;
}

body {
    
    background: rgb(227, 240, 229);
    box-shadow: 0px 10px 20px darkslategray;
    border-right: 1px solid black;
    border-left: 1px solid black;
    color: slategrey;
    font-family: 'Roboto', sans-serif;
    font-size: 140%;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1300px;
    padding-bottom: 10%;
    padding-top: 1%;
   
}


header {
    text-align: center;
    background-color: #9ec8b6;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    margin-bottom: 31px;
    margin-top: 20px;
    padding-left: 4%;
    padding-right: 4%;
    
}


a:link {
    text-decoration: none;
}


h1 {
    color: black;
    font-weight: 600;
    line-height: 2;
    font-size: 350%;
    border-style: ridge;
    border-color: darkred;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 20px 0 50px 0 darkslategray;
    text-shadow: 5px 5px 5px black;
}


.logo {
    text-align: center;
}


h2 {
    border-style: double;
    border-width: 4px;
    border-color: #9ec8b6;
    text-align: center;
    
        
}



a {
    color: black;
    /* font-style: italic; */
    font-weight: bold;
    /* font-family: monospace; */
}


/* Contact barre de navigation */
.contact{
    height: 100px;
    width: 250px;
    display:inline-block
}


/* Contact footer */
#contact{
    float: right;
    margin: -0.75em 2.4em 0 0;
}


.navigation {
    display: inline;
    font-size: 24px;
    list-style-type: none;
    border-right: 3px solid black;
    padding-right: 30px;
    border-left: 3px solid black;
    padding-left: 30px;
    background-color: grey;
    margin: -5px;
}


nav {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    position: fixed;
    width: 66.35em;
    background-color: #9ec8b6;
    top: 0;
    border-bottom: 1px solid black;
}

.logoDeveloPont {
    height: 50px;
    width: auto;
    margin-left: auto;
}


section {
    padding-left: 4%;
    padding-right: 4%;
    text-align: justify;
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s;
    -webkit-animation: fadein 1.5s;
    -o-animation: fadein 1.5s;
    -ms-animation: fadin 1.5s;
}

                
                /* ANIMATIONS FONDU & CLIGNOTEMENTS */
@keyframes {
    from {opacity: 0;}
    to   {opacity: 1;}
}
@keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}
@-moz-keyframes fadein { /* Compatibilité Firefox */
    from {opacity:0;}
    to {opacity:1;}
}
@-webkit-keyframes fadein { /* Compatibilité Safari et Chrome */
    from {opacity:0;}
    to {opacity:1;}
}
@-o-keyframes fadein { /* Compatibilité Opera */
    from {opacity:0;}
    to {opacity: 1;}
}
@-ms-keyframes fadein { /* Compatibilité IE */
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes Test{    
    0%{opacity: 1;}
    50%{opacity: 0.3;}
    100%{opacity: 1;}
}               
                /* FIN DES ANIMATIONS */


article {
    padding-left: 4%;
    padding-right: 4%;
    text-align: justify;
}


footer{
    height: 60px;
    width: 1302px;
    position: fixed;
    bottom: 0;
    background-color: #91b589;
    text-align: center;
    /*border-color: darkslategray;
    border-style: outset;
    border-width: thick;
    text-align: center;
    font-size: 32px;
    margin-top: 140px;
    position: relative;
    bottom: -136px;
    /* left: 0px; */
    /* right: 169px;
    background-color: #9ec8b6;*/
}

/*-----Menu Déroulant--------*/
.menuDeroulant {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0px 100px 0px 1.5em;
    max-width: 65em;
    margin: auto;
}

.menu {
    list-style-type: none;
    position: relative;
    padding: 0 10px;
    margin: 10px 0;
    box-shadow: 0 0 1px black;
    background-color: #9ec8b6; 
    color: black;
    transition: all 1s;
}

.sousmenu {
    position: absolute;
    max-height: 0;
    width: 150px;
    top: 39px;
    left: 0px;
    overflow: hidden;
    background-color: #9ec8b6;
    transition: all 0.1s;
    box-shadow: none;
    z-index: -1;
    padding: 0 10px;
    text-align: left;
    border: none;
}

.sousmenu li {
    list-style: none
}

.menu:hover ul {
    max-height: 300px;
    z-index: 1;
    animation: fadin 1.5s;
    border: 1px solid black;
    border-top: none;
    /* box-shadow: 1px 2px 2px 1px #9EC8B6; */
}

.menu:hover a {
    color: white;
}

/*--------Fin du menu------*/

.mail {
    width: 80px;
    vertical-align: middle;
}


.simplon {
    width: 200px;
    position: absolute;
    left: 41.5em;
    top: 0.9em;
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s;
    -webkit-animation: fadein 1.5s;
    -o-animation: fadein 1.5s;
    -ms-animation: fadin 1.5s;
}


.span-simplon {
    color: #ed1450;
    text-shadow: 0px 2px 3px black;
    font-size: 25px;
}


.copyright {
    margin: 1.8em 21em 0 0;
    color: rgb(227, 240, 229);
    /* font-style: italic; */
    text-shadow: 0px 2px 6px black;
}


.imageDAB {
    max-width: 100%;
    min-width: 300px;
    position: relative;
    width: 60em;
}


#candidature {
    animation: Test 1s infinite;
}
.menubarre {
    padding: 0 0 0 7em;
    margin: 0.3em -5em 0.3em -1em;
}
.menubarre  img {
    width: 20px;
    margin: 0 -0.2em 0 0;
    vertical-align: middle;
}